.list {
  width: 296px;
  height: auto;
  list-style: none;
  padding: 0;
  margin: 20px 0 0;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.item {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  border: 3px solid rgb(148, 198, 218);
  background-color: rgb(239, 248, 252);
}
.item:not(:last-child) {
  margin-bottom: 10px;
}
